services:
  - type: web
    name: cinetik-backend
    runtime: python
    buildCommand: cd Cinetik-Backend && uv sync --frozen
    startCommand: cd Cinetik-Backend && uv run uvicorn main:app --host 0.0.0.0 --port $PORT
    envVars:
      - key: PYTHON_VERSION
        value: 3.13.4
      - key: DATABASE_URL
        sync: false
      - key: DB_HOST
        sync: false
      - key: DB_PORT
        sync: false
      - key: DB_NAME
        sync: false
      - key: DB_USER
        sync: false
      - key: DB_PASSWORD
        sync: false

